@import 'variables.less';
@import 'mixins.less';

* {
  transition-duration: .2s;
  transition-timing-function: ease;
}

body {
  background-color: @snow;
  color: @granite;
  font-family: Raleway;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: flex-end;
}

hr {
  border-color: @cadet;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;

  &-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 1 0 auto;
  }
}

.container-fix {
  min-height:70vh;
}

.felupedia {
  .felupedia-main();
  color: @snow;

  span {
    color: @red;
  }

  &:hover {
    color: @red;

    & span {
      color: @snow;
    }
  }

  &-reverse {
    .felupedia-main();
    color: @red;

    span {
      color: @granite;
    }

    &:hover {
      color: @granite;

      & span {
        color: @red;
      }
    }
  }
}



.btn {

  &-red {
    background-color: transparent;
    color: @red;
    border-color: @red;

    &:hover {
      background-color: @red;
      color: @snow;
    }
  }
}

figure {
  border: 1px solid @cadet;
  padding: 5px;
  max-width: 300px;

  figcaption {
    text-align: center;
  }
}


@import "navbar.less";
@import "footer.less";
@import "article.less";
